/*  Nicol Heijtbrink, 10580611, svg.css */

/* continent color */
body {
  color: #00cc99;
  fill: currentColor;
}

#defs2987
{
	
}

.continent
{
  
}

/* country colors */
#fra
{
	color:#ff0066;
}

#ita
{
	color: #FFA500;
}

#swe
{
	color: #ffff33;
}